$black: #000;
$black1: #404040;
$black2: #1D1F22;
$white: #fff;
$orange: #e57200;
$orange2: #f1945d;
$grey: #333;
$grey2: #8c8c8c;
$grey3: #f1f2f3;
$grey4: #72757e;
$grey5: #d1d1d1;
$grey6: #f6f5f5;
$light-gray: #f1f2f3;
$dark-variant: #43464e;

$transparent: transparent;
$primary: $orange;
$titleColor: $primary;
$subTitleColor: $grey3;
$footerBgColor: $grey4;
$txtColor: $black1;
$placeholder: $grey4;
$input-border-color: #d6d6d6;
$border-color: rgba(220, 231, 235, 1);
$successColor: #70a039;
$btn-primary: #007bff;
// should be checked later
$errorColor: #ff5656;
$warningColor: #ffc107;

$scroll-bar-track: #e6e7e8;
$scroll-bar-thumb: #d1d1d1;
