@font-face {
  font-family: "SFProDisplay";
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../assets/fonts/SF-Pro-Display-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
