@font-face {
  font-family: "SFProDisplay";
  src: url("../assets/fonts/SamsungSharpSansBd.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SamsungSharpSansBd";
  src: url("../assets/fonts/SamsungSharpSansBd.ttf");
  font-weight: bold;
  font-style: normal;
}
