@import "../../../themes/global/variablesColor";
.header {
  &-top {
    background-color: $grey3;
    padding: 15px 0;
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-shorttxt {
      color: $primary;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 12px;
    }
    &-list {
      a {
        font-size: 12px;
        color: $txtColor;
      }
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          + li {
            margin-left: 30px;
          }
        }
      }
    }
  }
}
